Project_Health Assistant - Unified .json
{
  "name": "Project_Health Assistant - Unified",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3216,
        -560
      ],
      "id": "78ba3e73-d510-4d7b-8327-736931df1a72",
      "name": "Telegram Trigger",
      "webhookId": "de95506c-e09f-43cf-a161-7771108809aa",
      "credentials": {
        "telegramApi": {
          "id": "Tvb1Ud3YJcBds4Ja",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "afc7d2a9-2975-4e97-a20d-59551d5f20de",
                    "leftValue": "={{ $json.message.document.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a3355631-edbe-4146-b194-d5932522111b",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5f1175c2-5063-485b-affb-72b4a0eabb4a",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2992,
        -576
      ],
      "id": "aebaacfe-5ab2-49d1-bbd5-c7607b53d4a2",
      "name": "Message Type"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "👋 Benvenuto nel tuo Health Assistant!  \n\n📄 Carica documenti medici (PDF) e poi fammi domande su di essi. \nEsempi: \n- \"Qual era il mio valore di colesterolo?\" \n- \"Riassumi le mie ultime analisi\" \n- \"Cosa significa questo valore di emoglobina?\"",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2640,
        -672
      ],
      "id": "c1935b9a-32ab-4252-a416-0b02e79f8c90",
      "name": "Welcome",
      "webhookId": "04e98d12-e823-4dad-a36a-49f82c829a55",
      "credentials": {
        "telegramApi": {
          "id": "Tvb1Ud3YJcBds4Ja",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a personal medical document assistant. Your role is to help users understand and query their own medical documents that they have uploaded.\n\n## CORE RULES\n\n1. ONLY use information from the retrieved documents. Never invent, assume, or hallucinate medical data.\n2. If information is not found in the documents, say so clearly. Example: \"I don't see any cholesterol values in your uploaded documents.\"\n3. Always respond in the same language the user writes in.\n\n## WHEN PRESENTING MEDICAL VALUES\n\n- Always include the value, unit of measurement, and reference range if available.\n- Example format: \"Emoglobina: 14.2 g/dL (riferimento: 12.0–16.0 g/dL) ✓ nella norma\".\n- If a value is outside the reference range, highlight it clearly but do not state a diagnosis.\n\n## OPINION MODE (WHEN USER ASKS FOR AN EVALUATION OR 'WHAT WOULD YOU DO')\n\nWhen the user asks you to \"evaluate\", \"interpret\", or \"what would you do as a doctor\":\n\n1. Analyse the values found in the documents.\n2. Highlight which values are within range and which are outside.\n3. Explain what these patterns MAY suggest from an informational perspective, using cautious language:\n   - Use phrases like \"may be associated with\", \"is often seen in\", \"could suggest\".\n   - Never say \"you have [disease]\". Do not make a diagnosis.\n4. Always end your answer with a clear disclaimer, in the same language as the user, similar to:\n   - \"Questa è solo un'analisi informativa basata sui tuoi referti. La valutazione finale spetta al tuo medico.\"\n   - \"This is only an informational analysis based on your reports. Final interpretation must be made by your doctor.\"\n\n## WHAT YOU CAN DO\n\n- Summarize documents and lab results.\n- Compare values across different documents/dates if available.\n- Explain what medical terms mean in simple language.\n- Identify trends (e.g., \"Your cholesterol has decreased from 220 to 195 between January and March\").\n- List which tests were performed and their results.\n- Provide informational commentary in Opinion Mode as described above.\n\n## WHAT YOU CANNOT DO\n\n- Provide medical diagnoses or treatment recommendations.\n- Explicitly say if the user is healthy or sick.\n- Prescribe medications or lifestyle changes.\n\nIf the user pushes you for a diagnosis or treatment, repeat the disclaimer and suggest they show the reports and your summary to their doctor.\n\n## RESPONSE STYLE\n\n- Be concise but complete.\n- Use clear formatting for lab values.\n- When summarizing, organize by category (blood count, lipid panel, liver function, etc.) if applicable.\n- If the user asks a vague question, ask for clarification rather than guessing."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2736,
        -272
      ],
      "id": "b178beb8-ec78-4156-b257-2d7183fe54c1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the user's uploaded medical documents. Use this tool to find information about lab results, medical tests, diagnoses, prescriptions, or any health-related data the user has uploaded. Input should be a search query describing what information you're looking for.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "id"
        },
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "user_id",
                "value": "={{ $('Telegram Trigger').first().json.message.from.id.toString() }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -2480,
        -48
      ],
      "id": "a87c7173-b1b6-40f3-9fa0-44bf8615ad48",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "UgKgbDfLGdzRjK77",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2416,
        64
      ],
      "id": "a091b745-5fa0-490b-b207-96e0e169f2c9",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Z2zT01QqgRlndMbx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -2768,
        -48
      ],
      "id": "a5d43e00-6b92-42fb-bd0e-ef4917e62d87",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Z2zT01QqgRlndMbx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2272,
        -272
      ],
      "id": "a16bc341-ec0a-4512-94de-abcfef020455",
      "name": "Send Reply",
      "webhookId": "63954582-2986-45c6-81d2-f62abf7dce3a",
      "credentials": {
        "telegramApi": {
          "id": "Tvb1Ud3YJcBds4Ja",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot<TOKEN>/getFile?file_id={{ $json.message.document.file_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2640,
        -864
      ],
      "id": "153bb59a-fc8b-408f-9911-0b7d5e67a522",
      "name": "HTTP Request - Get File Path"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot<TOKEN>/{{ $json.result.file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2272,
        -864
      ],
      "id": "92bfa8ca-4014-4be8-843c-2b6fcae3a33c",
      "name": "DownloadFile"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -2048,
        -864
      ],
      "id": "98e0bb53-e388-4f94-a6ae-e92ffd9a56e2",
      "name": "Extract PDF Text"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst extractedText = input.json.text || '';\nconst cleanText = extractedText.trim();\nconst charCount = cleanText.length;\nconst needsOCR = charCount < 100;\n\nconst telegramData = $('Telegram Trigger').first().json.message;\n\nconst output = {\n  json: {\n    text: cleanText,\n    charCount: charCount,\n    needsOCR: needsOCR,\n    userId: telegramData.from.id.toString(),\n    fileName: telegramData.document.file_name,\n    chatId: telegramData.chat.id\n  }\n};\n\nif (input.binary) {\n  output.binary = input.binary;\n}\n\nreturn [output];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1824,
        -864
      ],
      "id": "c064a831-50d2-4629-8b34-65b29be9da63",
      "name": "Check Text Length"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d132600d-2267-40f0-8a1a-8abfb64f3aee",
              "leftValue": "={{ $json.needsOCR }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1632,
        -864
      ],
      "id": "e90659df-fc9c-4af7-9f02-677df22504c0",
      "name": "Needs OCR?"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "user_id",
                "value": "={{ $('Check Text Length').first().json.userId }}"
              },
              {
                "name": "filename",
                "value": "={{ $('Check Text Length').first().json.fileName }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -576,
        -576
      ],
      "id": "af20465f-6e80-4b18-9f89-3c7c4b8e1cbb",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -496,
        -368
      ],
      "id": "59638ab0-aaa6-48a7-a73e-284766f1e965",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "chatId": "={{ $('Check Text Length').first().json.chatId }}",
        "text": "=✅ Documento salvato!  📄 {{ $('Check Text Length').first().json.fileName }}  Ora puoi farmi domande su questo documento.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1536,
        -624
      ],
      "id": "2353e29a-395b-497c-b74d-e247fcf9f92e",
      "name": "Confirm Save",
      "webhookId": "133080d7-7b0c-4bc8-851d-221d8e408e30",
      "credentials": {
        "telegramApi": {
          "id": "Tvb1Ud3YJcBds4Ja",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -672,
        -864
      ],
      "id": "41c8fd38-3f6d-49ba-b3d2-487ef0679752",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "UgKgbDfLGdzRjK77",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -704,
        -576
      ],
      "id": "b8f40e91-7884-4467-a8c9-8db1785862ef",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "Z2zT01QqgRlndMbx",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\nif (!response.pages || !response.pages[0]) {\n  throw new Error('Risposta Mistral non valida: ' + JSON.stringify(response));\n}\n\nconst text = response.pages.map(p => p.markdown).join('\\n\\n');\nconst checkNode = $('Check Text Length').first().json;\n\nreturn [{\n  json: {\n    text: text.trim(),\n    charCount: text.length,\n    needsOCR: false,\n    wasOCR: true,\n    userId: checkNode.userId,\n    fileName: checkNode.fileName,\n    chatId: checkNode.chatId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        -1136
      ],
      "id": "53fa4357-cf07-44ba-a9a5-2786f922bfce",
      "name": "Extract OCR Text"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -928,
        -864
      ],
      "id": "00e6eb53-ef11-4d4a-b7be-5a43d8230c2e",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"https://api.telegram.org/file/bot<TOKEN>/{{ $('HTTP Request - Get File Path').first().json.result.file_path }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1360,
        -1136
      ],
      "id": "d28337b6-8f3f-4da6-8d43-8313296ea1e3",
      "name": "https://api.mistral.ai/v1/ocr",
      "credentials": {
        "openAiApi": {
          "id": "Z2zT01QqgRlndMbx",
          "name": "OpenAi account"
        },
        "mistralCloudApi": {
          "id": "82xysjWlj0kr4jqn",
          "name": "Mistral Cloud account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').first().json.message.chat.id.toString() }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -2640,
        32
      ],
      "id": "af2a6399-8996-4c3a-813d-4755530ec7b8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "==🧾 Referto: {{ $('Check Text Length').first().json.fileName }}\n\nSe vuoi una nostra analisi informativa di questo referto,\nda inoltrare poi al tuo medico, scrivimi un messaggio tipo:\n\n\"Valuta questo referto e fammi un riepilogo per il medico\"",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1328,
        -624
      ],
      "id": "b87d9c19-b0e0-4404-a107-faf187b7750f",
      "name": "Ask Opinion",
      "webhookId": "652fecce-0122-4e40-961e-b988a7189e0d",
      "credentials": {
        "telegramApi": {
          "id": "Tvb1Ud3YJcBds4Ja",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 134865427,
          "message": {
            "message_id": 118,
            "from": {
              "id": 7952206516,
              "is_bot": false,
              "first_name": "F",
              "username": "Eusername",
              "language_code": "it"
            },
            "chat": {
              "id": 7952206516,
              "first_name": "F",
              "username": "username",
              "type": "private"
            },
            "date": 1771436032,
            "text": "/start",
            "entities": [
              {
                "offset": 0,
                "length": 6,
                "type": "bot_command"
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type": {
      "main": [
        [
          {
            "node": "HTTP Request - Get File Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Welcome",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get File Path": {
      "main": [
        [
          {
            "node": "DownloadFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DownloadFile": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Check Text Length",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Text Length": {
      "main": [
        [
          {
            "node": "Needs OCR?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Confirm Save",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs OCR?": {
      "main": [
        [
          {
            "node": "https://api.mistral.ai/v1/ocr",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "main": [
        []
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract OCR Text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "https://api.mistral.ai/v1/ocr": {
      "main": [
        [
          {
            "node": "Extract OCR Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Save": {
      "main": [
        [
          {
            "node": "Ask Opinion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "dynamic",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "16b482a9-d65f-44f4-9c6e-1196c87fb7c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6340a675df2a727ab15ed3f6d8d62880dbe20df9d0152fe8457b488c5c92e1e"
  },
  "id": "qgI2wH-JnAQeWCInjZ9LL",
  "tags": []
}